{% extends "tab-child.html" %}


{% block head %}
<style media="screen">
    iframe.frame {
        height: 700px;
        width: 100%;
        border: none;
    }
</style>
{% endblock %}



{% block content %}
{% if stabsel %}
<div class="row">
    <div class="col-lg-12">
        <h1>Parameters</h1>
        <table class="table table-striped table-hover">
            <tr><td>numerical_method :</td><td>{{ dicostabsel.numerical_method }}</td></tr>
            <tr><td> Method of stability selection used :</td><td>{{ dicostabsel.method }}</td></tr>
            <tr><td> Real given lambda (on contrast to giving lambda/lambdamax) :</td><td>{{ dicostabsel.true_lam }}</td></tr>
            <tr><td> Theoretical lambda :</td><td>{{ dicostabsel.theoretical_lam }}</td></tr>
            <tr><td> Lambda used if method is lam :</td><td>{{ dicostabsel.lam }}</td></tr>
            <tr><td> Lambda min used if method is max:</td><td>{{ dicostabsel.lamin }}</td></tr>
            <tr><td> B (number of split on the dataset ) :</td><td>{{ dicostabsel.B }}</td></tr>
            <tr><td> q (used for the q-first method or the q-max method) :</td><td>{{ dicostabsel.q }}</td></tr>
            <tr><td> Percent of the dataset for each split :</td><td>{{ dicostabsel.percent_nS }}</td></tr>
            <tr><td> Threshold :</td><td>{{ dicostabsel.threshold }}</td></tr>
            <tr><td>Seed for randomization :</td><td>{{ dicostabsel.seed }}</td></tr>
        </table>
        
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <h1>Solution</h1>
        <table class="table table-striped table-hover">
            <tr><td>Running time :</td><td>{{ dicostabsel.time }}</td></tr>
            <tr><td>Number of selected parameters :</td><td>{{ dicostabsel.nsel }}</td></tr>

        </table>
        <h2>Stability Selection profile</h2>
            {{dicostabsel.htmlstab}}
            <h4><a href="StabSel-prob.csv">Download stability selection profile as CSV</a></h4>
            <iframe src="./stabsel-graph.html" class="frame"></iframe>

            {% if dicostabsel.with_path %}
                <h3>Stabiliy Selection profile over lambdas path </h3>
                <iframe src="./stabsel-path.html" class="frame"></iframe>
            {% endif %}
            <h3>Beta-solution after refit </h3>
            <iframe src="./stabsel-refit.html" class="frame"></iframe>

            {% if dicostabsel.prediction %}
            <h3>Prediction informations</h3>
            <table class="table table-striped table-hover">
                <tr><td> Number of sample :</td><td>{{ dicostabsel.prediction_table.samples }}</td></tr>
                <tr><td> R square:</td><td>{{ dicostabsel.prediction_table.R }}</td></tr>
                <tr><td> Number of positive in sample :</td><td>{{ dicostabsel.prediction_table.positive }}</td></tr>
                <tr><td> Number of negative in sample :</td><td>{{ dicostabsel.prediction_table.negative }}</td></tr>
                <tr><td> Number of false positive in sample :</td><td>{{ dicostabsel.prediction_table.FP }}</td></tr>
                <tr><td> Number of false negative in sample :</td><td>{{ dicostabsel.prediction_table.FN }}</td></tr>
            
            </table>
            <h3>Prediction profile </h3>
            <iframe src="./stabsel-yhat.html" class="frame"></iframe>
            {% endif %}
            
            {% if dico.with_tree %}
            <h3>Selected parameters on the taxonomic tree </h3>
            <iframe src="./stabsel-tree.html" class="frame"></iframe>
            {% endif %}


    </div>
</div>




{% endif %}

{% endblock %}